body {
  display: flex;
  background-color: #ececec;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
}

h1 {
  color: white;
}

select {
  padding: 8px 16px;
  border-radius: 18px;
  font-size: 16px;
  height: max-content;
}

button {
  padding: 8px 16px;
  width: 420px;
  border-radius: 18px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: rgb(177, 227, 190);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(0.25em);
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo-container {
  width: auto;
  margin: 50px 0px 50px 0px;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#search-input {
  font-size: 32px;
  border-radius: 24px;
  border: none;
  box-shadow: none;
  border: 1px solid #dfe1e5;
  width: 400px;
  z-index: 3;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#link-input {
  font-size: 13px;
  border-radius: 24px;
  border: none;
  box-shadow: none;
  border: 1px solid #dfe1e5;
  width: 400px;
  z-index: 3;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-bar {
  display: block;
  justify-content: center;
  width: auto;
  margin: 25px 0px 25px 0px;
}

.option-container {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: space-between;
}

.ratings-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin: 20px 0px 50px 0px;
}

#add-button {
  /* margin-top: 30px; */
  justify-self: center;
  width: 340px;
  margin: 0 auto;
  margin-top: 30px;
}
