{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/evaluate/evaluate.css') }}">
{% endblock %}

{% block content %}
	<div class="top-container">
		<img id="logo" src="/static/images/logo.png" alt="logo">
        <form action="" method="POST" novalidate="">
            {{ form.hidden_tag() }}
            {{ form.searchfield(id="search-input") }}
            {{ form.language(id="language-select") }}
            {{ form.level(id="level-select") }}
            {{ form.submit() }}
        </form>
	</div>

	<div class="middle-container">
        <h1>Rate these videos according to your level of comprehension: </h1>
        <!-- The following html is a 'component' for a row of a resource   -->
        {% for resource in resources %}
    		<div class="content-container">
                <img id="resource-thumb" src="{{ resource.get_thumbnail() }}" alt="testthumbnail">
                <div class="metadata">
                    <h4> {{ resource.get_title() }} </h4>
                </div>
                <div class="rating-dimension"> 
                    <h5> Your Comprehension Rating: </h5>
                    {% include 'subtemplates/_evaluate_rating.html' %}
                </div>
            </div>
            <!-- End of component -->
        {% endfor %}
        <div class="level-present">
            <div class="bottom-container">
                <button onclick="get_understanding(appropriate_level, {{ chosen_level }}, input_{{ resources[0].id }}, input_{{ resources[1].id }}, input_{{ resources[2].id }})">Tell me my level</button>
            </div>
            <h3> Recommended level is: </h3>
            <h3 id="appropriate_level">No level defined yet</h3>
        </div>
	</div>




{% endblock %}