[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
neo4j = "*"
py2neo = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.9"
