<div class="generic-resource-container">
    <img id="resource-thumb" src="{{ resource.get_thumbnail() }}" alt="testthumbnail">
    <div class="metadata">
        <span style="display: flex;">
            <h4> {{ resource.get_title() }}</h4>
            <a class="button" href="{{ resource.get_link() }}">visit</a>
        </span>
        {% if not title == "Evaluate Level" %}
            <h5> Intermediate {{ global_user['level'] }} Learners on average had {{ resource.get_understanding(global_user['level']) }}% Average Comprehension </h5>
            <h5> Average Usefulness Rating: {{ resource.get_like(global_user['level']) }}/5 </h5>
        {% endif %}
    </div>
</div>