{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/repository/repository.css') }}">
{% endblock %}

{% block content %}
	<div class="top-container">
		<img id="logo" src="/static/images/logo.png" alt="logo">
        <form action="" method="POST" novalidate="">
            {{ form.hidden_tag() }}
            {{ form.searchfield(id="search-input") }}
            {{ form.language(id="language-select") }}
            {{ form.level(id="level-select") }}
            {{ form.submit() }}
        </form>
	</div>

	<div class="middle-container">
        <h1>My Repository: </h1>
        <!-- The following html is a 'component' for a row of a resource   -->
        {% for resource in resources %}
		<div class="content-container">
            <a href="{{ resource.get_link()}}" class="image-link"><img id="resource-thumb" src="{{ resource.get_thumbnail() }}" alt="testthumbnail" ></a>
            <div class="metadata">
                <a href="{{ resource.get_link()}}"><h4> {{ resource.get_title() }} </h4></a>
                <h5> Intermediate 1 Learners on average had {{ resource.get_understanding(1) }}% Average Comprehension </h5>
                <h5> Average Usefulness Rating: {{ resource.get_like(1) }}/5 </h5>
            </div>
            <div class="content-buttons"> 
                <a href="{{ url_for('comments.comments', resource_id=resource.id) }}" class="button">Go to comments</a>
                <button> Unsave </button>
            </div>
        </div>
        {% endfor %}
        <!-- End of component -->
	</div>

{% endblock %}