{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/identify/identify.css') }}">
{% endblock %}

{% block content %}
	<div class="logo-container">
		<img id="logo" src="/static/images/logo.png" alt="logo">
	</div>

    <form action="" method="post" novalidate="">
        {{ form.hidden_tag() }}
        <div class="middle-container">
            <div class="option-container">
                <div class="choose-language">
                     <h2> Choose a language to learn: </h2>
                    {{ form.language(id="language-select") }}
                </div>

                 <div class="choose-level">
                    <h2> Choose a level to start with: </h2>
                    {{ form.level(id="level-select") }}
                </div> 
            </div>
        </div>

        <div class="bottom-container">
            <p>Add tags to look for relevant content:</p>
            {{ form.searchfield(class="tag-input", id="tag-input")}}
            {{ form.evaluate(id="evaluate-button") }}
        </div>
    </form>

{% endblock %}