{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/add/add.css') }}">
{% endblock %}

{% block content %}
	<div class="logo-container">
		<img id="logo" src="/static/images/logo.png" alt="logo">
	</div>

	<form action="" method="post" novalidate="">
		{{ form.hidden_tag() }}
		<div class="middle-container">
			<div class="search-bar">
				{{ form.addfield.label }} <br>
				{{ form.addfield(class="text-input", id="search-input") }}
			</div>

			<div class="option-container">
				{{ form.language(id="language-select") }}
				{{ form.level(id="level-select") }}

				<div class="ratings-contianer">
					{{ form.understanding.label }}<br>
					{{ form.understanding(min='0', max='100', step='1') }}<br>

					{{ form.usefulness.label }}<br>
					{{ form.usefulness(min='0', max='5', step='1') }}

				</div>
			</div>
		</div>
		<div class="bottom-container">
			{{ form.link.label }}
			{{ form.link(id="link-input") }}<br>

			{{ form.submit(id="add-button") }}

		</div>
	</form>

{% endblock %}