<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{# css #}
	{# default css #}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	{# custom page css #}
	{% block css %}
	{% endblock %}

	{# title #}
	{% if title %}
	<title>{{ title }} - OpenLingo</title>
	{% else %}
	<title>Welcome to OpenLingo</title>
	{% endif %}

</head>
<body>
	<nav>
		<a href="{{ url_for('main.index') }}">Index Page</a>
		<a href="{{ url_for('search.search') }}">Search Page</a>
		<a href="{{ url_for('add.add') }}">Add Page</a>
		<a href="{{ url_for('identify.identify') }}">Identify Skill Level</a>
		<a href="{{ url_for('results.results') }}">Results Page</a>
		<a href="{{ url_for('repository.repository') }}">User Repository</a>
		<a href="{{ url_for('evaluate.evaluate') }}">Evalaute Level</a>
		{# <a href="{{ url_for('comments.comments') }}">Comments for :</a> #}
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>