<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# css #} {# default css #}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    {# custom page css #} {% block css %} {% endblock %} {# jquery #} {% block
    scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/save.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/rate.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/understanding_rate.js') }}"
    ></script>
    {% endblock %} {# title #} {% if title %}
    <title>{{ title }} - OpenLingo</title>
    {% else %}
    <title>Welcome to OpenLingo</title>
    {% endif %}
  </head>
  <div class="nav-bar">
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('search.search') }}" class="button"
            >Search Page</a
          >
        </li>
        <li>
          <a href="{{ url_for('add.add') }}" class="button">Add Resource</a>
        </li>
        <li>
          <a href="{{ url_for('identify.identify') }}" class="button"
            >Identify Skill Level</a
          >
        </li>
        {#
        <li><a href="{{ url_for('results.results') }}">Results Page</a></li>
        #}
        <li>
          <a href="{{ url_for('repository.repository') }}" class="button"
            >User Repository</a
          >
        </li>
        {#
        <li><a href="{{ url_for('evaluate.evaluate') }}">Evalaute Level</a></li>
        #}
      </ul>
    </nav>
  </div>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
